<div id="title">
  <center>
    <h1>SIMPLE TODO LISTS</h1>
    <h2>FROM RUBY GARAGE</h2>
    </center>
</div>
<div class="workspace">

</div>
<div class="add-list">
  <center>
    <button id="btn-add-todo">
      <div class="icon-plus-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="#0F79E3" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
      </div>
      Add TODO list
    </button>
  </center>
</div>
