<div class="auth-links">
  <right>
  <a id="signup-link" class="sign-links" href="#">Sign Up</a>
  <a id="signin-link" class="sign-links" href="#">Sign In</a>
  <a id="signout-link" class="sign-links" href="#">Sign Out</a>
  </right>
</div>

<div id="title">
  <center>
    <h1>SIMPLE TODO LISTS</h1>
    <h2>FROM RUBY GARAGE</h2>
    </center>
</div>
<div class="workspace">

</div>
<div class="add-list">
  <center>
    <button id="btn-add-todo">
      <div class="icon-plus-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="#0F79E3" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
      </div>
      Add TODO list
    </button>
  </center>
</div>

<!-- signup window -->
<div class="signup-window">
  <div class="close-window-icon"></div>
  <center>
    <h2>Sign Up:</h2>
    <form action="#">
      <label for="email">email:</label><br>
      <input type="text" name="email" class="input-email" value=""><br>
      <label for="password">password:</label><br>
      <input type="password" name="password" class="input-password" value=""><br><br>
      <label for="password_confirmation">confirm password:</label><br>
      <input type="password" name="password_confirmation" class="input-password-confirmation" value=""><br><br>
      <input type="submit" id="signup-submit" value="Submit">
    </form>
  </center>
</div>

 <!-- signin window -->
<div class="signin-window">
  <div class="close-window-icon"></div>
  <center><h2>Sign In:</h2></center>
  <div>
    <center>
    <form action="#" >
      <label for="email">email:</label><br>
      <input type="text" name="email" value="" class="input-email"><br>
      <label for="password">password:</label><br>
      <input type="password" name="password" value="" class="input-password"><br><br>
      <input type="submit" id="signin-submit" value="Submit">
  </form>
  </center>
  </div>
</div>
