default: &default
  adapter: postgresql
  encoding: unicode
  username: <db_username>
  password: <db_password>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: task_manager_development

test:
  <<: *default
  database: task_manager_test

production:
  <<: *default
  database: task_manager_production
  username: task_manager
  password: <%= ENV['TASK_MANAGER_DATABASE_PASSWORD'] %>
