/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
     font-family: Arial !important;
     background-image: url('pexels.jpg');
 }

 #title {
     height: 20%;
     width: 100%;
 }
 .workspace {
     display: flex;
     flex-wrap: wrap;
     flex-basis: 66%;
     justify-content: center;
 }

 .window {
     border-radius: 20px;
     height: auto;
     width: 60%;
     background-color: white;
     margin: 60px;
 }

 .window-header {
     border-top-right-radius: 2px;
     border-top-left-radius: 2px;
     display: flex;
     width: 100%;
     height: 70px;
     background-color: #4774b3;
 }

 .window-add {
     display: flex;
     width: 100%;
     height: 70px;
     background-color: grey;
 }

 .window-task-list {
     width: 100%;
 }

 .header-left-content {
     display: flex;
     justify-content: flex-start;
     width: 50%;
     height: 100%;
 }

 .header-right-content {
     visibility: hidden;
     display: flex;
     justify-content: flex-end;
     width: 50%;
     height: 100%;
 }

 .icon-trash {
     align-items: center;
     display: flex;
     justify-content: center;
     width: 70px;
     height: 100%;
 }

 .icon-trash:hover {
    background-color: red;
 }

 .icon-edit:hover {
     background-color: grey;
 }

 #btn-add-task:hover {
     background-color: #008060;
 }

 #btn-add-todo:hover {
   background-color: blue;
 }

 .task-item:hover {
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     background-color: #ffffe6;
 }

 .task-item:hover .task-actions {
     visibility: visible;
 }

 .window-header:hover .header-right-content {
     visibility: visible;
 }


 .icon-schedule {
     align-items: center;
     display: flex;
     justify-content: center;
     width: 70px;
     height: 100%;
 }


 .icon-edit {
     align-items: center;
     display: flex;
     justify-content: center;
     width: 70px;
     height: 100%;
 }

 .todo-list-title {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2em;
     color: white;
 }

 .input-area {
        text-align: center;
        width: 80%;
        height: 100%;
 }

 .icon-plus {
     align-items: center;
     display: flex;
     justify-content: center;
     width: 6%;
     height: 100%;
 }
 .icon-plus-button {
     padding-right: 1.5em;
 }


 #add-task-input {
     margin-top: 18px;
     color: grey;
     font-size: 1.5em;
     width : 100%;
 }

 #btn-add-todo {
     border-radius: 2px;
     align-items: center;
     font-size: 0.9em;
     display: none;
     justify-content: center;
     outline: none;
     border: none;
     font-weight: bold;
     color: white;
     background-color: #5d81b2;
     height: 40px;
     width: 180px;
 }
 .add-task-button {
     margin: 19px 12px;
     width: 16%;
 }

 #btn-add-task {
     border-radius: 2px;
     height: 100%;
     width: 100%;
     outline: none;
     border: none;
     color: white;
     background-color: #71a88a;
 }

 .task-item {
     display: flex;
     min-height: 75px;
     border-top: 2px solid grey;

 }

 .task-completing {
     color: grey;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 75px;
     border-right: double;
 }

 .task-name {
     overflow-wrap: anywhere;
     color: grey;
     display: flex;
     align-items: center;
     padding-left: 1em;
     font-size: 2em;
     width: 90%;
     border-right:  2px solid grey;
 }

 .task-actions {
     visibility: hidden;
     align-items: center;
     display: flex;
     justify-content: center;
     width: 20%;
 }

 .action-icon {
     display: flex;
     padding: 0 5px;
 }

 .vll {
     margin-left: 5px;
     border-left: 1px solid grey;
     height: 1.2em;
 }

 .header-line {
     display: flex;
     align-items: center;
     width: 2px;
     height:100%;
 }
 .vll-header {
     padding-left: 25px;
     border-left: 2px solid grey;
     height: 2em;
 }


 .vlr {
     margin-right: 5px;
     border-right: 1px solid grey;
     height: 1.2em;
 }

/* style of signUp, signIn windows */

.signup-window {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  visibility: hidden;
}

.signin-window {
  display: none;
  background-color: #FFFFFF;
  height: 400px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.show {
  display: block;
}

.show-link {
  display: inline;
}

.show-add-todo-button {
  display: flex !important;
}

.hide {
  display: none;
}

.close-window-icon {
  float: right;
  background-color: red;
  height: 30px;
  width: 30px;
}

/* .auth-links {
  display: none;
} */
